
.header {
    background-color: green;
    margin: 0;
}

.form {
    background-color: orange;
    padding: 10px;
}

.form form {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.result {
    padding: 10px;
    background-color: darkgreen;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: start;
}