#root {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    background-color: lightgrey;
    padding: 5px;
}

#control {
    display: flex;
    flex-direction: column;

    width: 150px;
    padding: 10px;
}

#palette {
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
}

.color {
    width: auto;
    height: 70px;
    border: 1px solid black;
}

#canvas {
    display: grid;
    grid-template-columns: repeat(50, 12px);
}

#canvas div {
    user-select: none;
}